

<p class="title is-2">Welcome to my sick website</p>

<p class="subtitle is-5">This website consists of data that I pulled from a csv file, containing basically the Pokedex, and information on the Pokemon.
                          I have implemented a search feature that you can use above to search for literally any Pokemon, and it will show the Pokemon
                          and some information pulled from my database. The only useful page on the site is <a href="/pokeman/">Pokeman</a>, that is where
                          all the information is being displayed. The other tables you will see below, do not really have any use, as I take all the informaiton
                          and display it all in the Pokeman controller.</p>